*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #232323;
    color: #f1f1f1;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.status {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.square {
    background: white;
    border: 0.1rem solid #232323;
    float: left;
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    margin-top: -0.06rem;
    margin-right: -0.06rem;
    padding: 0;
    text-align: center;
}
  
.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.reset-button{
    height: 6rem;
    width: 10rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    background-color: #5774dc;
    color: white;
    border: none;
    border-radius: 0.5rem;
}
